.pagination {
  display: flex;
  gap: 6px;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #404040;
    background-color: white;
    font-size: 30px;
    &:hover {
      background-color: #404040;
      color: #fff;
    }
  }

  li{
    &:hover{
      background-color: #404040;
      color: #fff;
    }
  }

  .page-selected {
    background-color: #404040;
    color: #fff;
  }

  ul {
    display: flex;
    gap: 6px;

    li {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #404040;
      border-radius: 50px;
    }
  }
}

.pagination-border{
  border-top: solid 1px #D9D9D9;
  padding: 10px 0;
}


  
  