@import './components/all';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $font-Inter;
}

.container{
  padding: 0 20px;
  margin: 0 auto;
}

.overflow-y-hidden{
  overflow: hidden;
}

.test{
  background: #1e1e1e;
}
